body{

background-color:lightred;

}

h1{

font-size:250%;

background-color:lightblue;

color:darkgreen;

}

p1{

font-size:150%;

color:darkgreen;

}

p2{

font-size:125%;

color:darkgreen;

background-color:lightgreen;

}

p3{

font-size:125%;

color:darkgreen;

background-color:lightgreen;

}

p4{

font-size:125%;

color:darkgreen;

background-color:lightblue;

}

p5{

font-size:125%;

color:darkred;

background-color:lightblue;

}

p6{

font-size:125%;

color:darkred;

background-color:lightblue;

}

p7{

font-size:125%;

color:darkred;

background-color:lightblue;

}

p8{

font-size:125%;

color:darkred;

background-color:lightblue;

}
